<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/static/web/favicon.ico">
    <title>simple share</title>
</head>
<body ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">

    <div style="text-align: center;max-width: 920px; margin: auto">
        <div><p style="font-weight: bold;">1111</p></div>
        <textarea name="" id="" cols="100" rows="15">{{ .data }}</textarea>
        <div id="div-mobile" class="up-box">
            <!-- <input name="photo" type="file" id="upLoadOneFile" accept="image/*"> -->
            <input name="photo" type="file" id="upLoadOneFile" multiple onchange="handleSelectFilesChange(this)" >
        </div>
        <form action="/" method="POST" id="dForm">
            <textarea name="sData" id="sData" cols="100" rows="4"
             placeholder="Input text and submit or drop files on the page"></textarea>
            <br>
        </form>
        <form action="/clearFile" method="POST" id="cForm" style="display: none"></form>
        <div style="padding: 28px;">
            <input type="submit" value="Submit" form="dForm"  style="background: azure;">
            <button onclick="location.href = '/';" style="margin-left: 30px;background: gray;">Refresh</button>
            <button type="submit" form="cForm"  style="margin-left: 30px;background: #d25a5a;">DeleteFiles</button>
        </div>
        <div class="progress-bar">
            <div id="progressName"></div>
            <div id="progress"></div>
          </div>
        <div style="padding: 3px;" id="fileList">
            {{ range .fileList }}
            <a style="margin-right: 10px;" href="{{.N}}">{{.Ns}}</a>
            {{ end }}
        </div>
        <br>
        <div id="imgList">
            {{ range .imaList }}
            <img style="width: 300px; padding: 5px" src="{{ . }}" alt="">
            {{ end }}
        </div>
    </div>

</body>
</html>
<style>
    body {
        border-bottom: 1px #cfc4c4 solid;
        min-height: 100vh;
        overflow: auto;
    }
    textarea {
        /* will prevent resizing horizontally */
        max-width: 95%;
        resize:vertical;
    }
    @media screen and (min-width: 769px) {
        #div-mobile { display: none; }
        #div-desktop { display: block; }
    }

    @media screen and (max-width: 768px) {
        #div-mobile { display: block; }
        #div-desktop { display: none; }
    }
    .up-box{
        margin: 5px;
        text-align: left;
    }

    .progress-bar {
        width: 100%;
        background-color: #ddd;
    }
    #progress {
        width: 0%;
        height: 1em;
        background-color: #4CAF50;
        text-align: left;
    }
    #progressName {
        width: 100%;
        text-align: left;
    }
</style>
<script>

    function dropHandler(ev){
        console.log('File(s) dropped');

        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();

        if (ev.dataTransfer.items) {
            // Use DataTransferItemList interface to access the file(s)
            for (let i = 0; i < ev.dataTransfer.items.length; i++) {
                // If dropped items aren't files, reject them
                if (ev.dataTransfer.items[i].kind === 'file') {
                    let file = ev.dataTransfer.items[i].getAsFile();
                    console.log('... file[' + i + '].name = ' + file.name);
                    console.log(file)

                    uploadFile(file)
                   
                }
            }
        } else {
            // Use DataTransfer interface to access the file(s)
            for (let i = 0; i < ev.dataTransfer.files.length; i++) {
                console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
            }
        }
    }

    function handleSelectFilesChange(input) {
        console.log(input.files);
        // return
        for(let i = 0; i < input.files.length; i++) {
                let file = input.files[i];
                uploadFile(file)
            }
        
    }

    function uploadFile(file) {

        const progressBar = document.getElementById('progress');
        const progressName = document.getElementById('progressName');

        const formData = new FormData();
        formData.append('file', file);
        formData.append("isImg", isFileImage(file)?"1":"0");
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);
        xhr.upload.onprogress = e => {
            progressName.innerText = file.name + "⏫";
            if (e.lengthComputable) {
            const percentComplete = (e.loaded / e.total) * 100;
            progressBar.style.width = `${percentComplete}%`;
            }
        };
        xhr.onload = function(e) {
            console.log(e)
            if (xhr.status === 200) {
                // alert("Upload successful!");
                progressName.innerText = file.name + "✅";
                if (isFileImage(file))
                {
                    let elem = document.createElement("img");
                    elem.src = e.currentTarget.response;
                    elem.style.width = "300px";
                    elem.style.padding = "5px";
                    let list = document.getElementById("imgList");
                    list.insertBefore(elem, list.firstChild);
                } else {
                    let elem = document.createElement("a");
                    elem.href = e.currentTarget.response;
                    elem.style = "margin-right: 10px;"
                    elem.text = file.name;
                    let list = document.getElementById("fileList");
                    list.append(elem, list.firstChild);
                }
            } else {
                alert("Error uploading files. Please try again.");
            }
        };

        xhr.send(formData);
    }

    function isFileImage(file) {
        return file && file['type'].split('/')[0] === 'image';
    }

    function dragOverHandler(ev) {
        console.log('File(s) in drop zone');

        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();
    }
</script>